//======== 【Prefix】 ========
$css-prefix: yyds;

// 图片路径
$img-url: "~@/assets/images/";

//内容最小宽度
$cont-width: 1360px;
$default: #666;
$theme: #fd7a41;

// 模块阴影
$box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);

// 重要
$primary: #fd7a41;
$success: #61b93f;
$warning: #ff9900;
$danger: #f54040;
$ff8: #fef1e8;
